version: '3.9'

services:
  test:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: backend-tests
    working_dir: /app
    command: npm test
    environment:
      - NODE_ENV=test
      - NODE_OPTIONS=--experimental-vm-modules
    volumes:
      - .:/app
      - /app/node_modules
